@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);

  --ff-Josefin-Sans: "Josefin Sans", sans-serif;
  --ff-Alata: "Alata", sans-serif;

  --fw-300: 300;
  --fw-400: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-Josefin-Sans);
}

body {
  font-family: var(--ff-Alata);
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  width: min(90%, 1440px);
  margin-inline: auto;
}

.logo,
.nav-btn {
  position: relative;
  z-index: 10;
}

/** Page Header **/
.header {
  background: #0006 url(images/mobile/image-hero.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  padding-block: 3rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-btn {
  cursor: pointer;
  background: transparent;
  border: none;
}

.nav-btn img {
  height: 1.6rem;
}

.navbar-nav {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: var(--black);
  z-index: 1;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.25rem;
  transition: 300ms;
}

.navbar-nav.show {
  transform: translateX(0%);
}

.navbar-links {
  display: block;
  font-family: var(--ff-Josefin-Sans);
  text-transform: uppercase;
  font-size: 2rem;
  padding-block: 0.625rem;
  opacity: 0;
}

.banner {
  max-width: 650px;
  padding: 2rem;
  border: 2px solid var(--white);
  margin-block: 13rem;
}

.banner h1 {
  color: var(--white);
  line-height: 1.2;
  font-size: 2.25rem;
  font-weight: var(--fw-300);
  text-transform: uppercase;
}
